@page
@model IdentityServer.Areas.Admin.Pages.RandomSecretGeneratorModel
@{
    Layout = "_Layout_Empty";
}

            <form id="-form" method="post">
               
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.SecretLength"></label>
                    <input asp-for="Input.SecretLength" class="form-control" />
                    <span asp-validation-for="Input.SecretLength" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.SecretCharacters"></label>
                    <select asp-for="Input.SecretCharacters" class="form-control">
                        <option valule="0">Numbers and Letters</option>
                        <option valule="1">Numbers/Letters and -_</option>
                        <option valule="2">Numbers/Letters and #*=)(/&%$!\"@@~'^°</option>
                    </select>
                </div>
                @if (!String.IsNullOrEmpty(Model.Input?.Secret))
                {
                    <div class="form-group">
                        <textarea asp-for="Input.Secret" class="form-control" type="password" placeholder="A realy secure secret..." rows="5">

                        </textarea>
                        <span asp-validation-for="Input.Secret" class="text-danger"></span>
                    </div>
                }
                <button id="create-random-secret-button" type="submit" class="btn btn-default">Generate</button>
            </form>
