@{
    var version = typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.GetName().Version.ToString();
    var user = this.User.Identity;
}

<h2>Identity Server Legacy</h2>
<h4>OpenId Connect as a Service</h4>
<hr/>
    <div class="row">
        <div class="col-md-3">
            @if (user.IsAuthenticated)
            {
                <h4>Hello, @user.Name</h4>
            }
        </div>
        <div class="col-md-9">
            
            <ul class="ui-tiles">
                @if (user == null || user.IsAuthenticated == false)
                {
                    <li class="ui-tile">
                        <a href="~/account/login">
                            <div class="ui-tile-icon glyphicon glyphicon-log-in">

                            </div>
                            <div class="ui-tile-text ">
                                Login
                            </div>
                        </a>
                    </li>
                }
                else
                {
                    <li class="ui-tile">
                        <a href="~/account/logout">
                            <div class="ui-tile-icon glyphicon glyphicon-log-out">

                            </div>
                            <div class="ui-tile-text ">
                                Logout
                            </div>
                        </a>
                    </li>

                    <li class="ui-tile">
                        <a href="~/identity/account/manage">
                            <div class="ui-tile-icon glyphicon glyphicon-user">

                            </div>
                            <div class="ui-tile-text ">
                                Manage my account
                            </div>
                        </a>
                    </li>

                    <li class="ui-tile">
                        <a href="~/admin">
                            <div class="ui-tile-icon glyphicon glyphicon-cog">

                            </div>
                            <div class="ui-tile-text ">
                                Admin
                            </div>
                        </a>
                    </li>

                }




                <li class="ui-tile">
                    <a asp-action="About">
                        <div class="ui-tile-icon glyphicon glyphicon-info-sign">

                        </div>
                        <div class="ui-tile-text">
                            About
                        </div>
                    </a>
                </li>

            </ul>
        </div>
    </div>
