@model IdentityServer.Nova.ApplicationUser;
@using IdentityServer.Nova;
@inject Microsoft.Extensions.Configuration.IConfiguration configuration;
@{
    var version = typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.GetName().Version.ToString();
}

<h2>IdentityServer.Nova</h2>
<h4>OpenId Connect as a Service</h4>
<hr/>
    <div class="row">
        <div class="col-md-3">
            @if (Model!=null)
            {
                <h4>Hello, @Model.ApplicationUserName()</h4>
            }
            
        </div>
        <div class="col-md-9">

            <ul class="ui-tiles">
                @if (Model == null)
                {
                    <li class="ui-tile">
                        <a href="~/account/login">
                            <div class="ui-tile-icon glyphicon glyphicon-log-in">

                            </div>
                            <div class="ui-tile-text ">
                                Login
                            </div>
                        </a>
                    </li>
                }
                else
                {


                    <li class="ui-tile">
                        <a href="~/grants">
                            <div class="ui-tile-icon glyphicon glyphicon-tags">

                            </div>
                            <div class="ui-tile-text ">
                                Grants
                            </div>
                        </a>
                    </li>

                    @if (!configuration.DenyManageAccount())
                    {
                        <li class="ui-tile">
                            <a href="~/identity/account/manage">
                                <div class="ui-tile-icon glyphicon glyphicon-user">

                                </div>
                                <div class="ui-tile-text ">
                                    Manage my account
                                </div>
                            </a>
                        </li>
                    }

                    <li class="ui-tile">
                        <a href="~/account/logout">
                            <div class="ui-tile-icon glyphicon glyphicon-log-out">

                            </div>
                            <div class="ui-tile-text ">
                                Logout
                            </div>
                        </a>
                    </li>

                    if (Model.HasAdministratorRole())
                    {
                        <li class="ui-tile">
                            <a href="~/admin">
                                <div class="ui-tile-icon glyphicon glyphicon-cog">

                                </div>
                                <div class="ui-tile-text ">
                                    Admin
                                </div>
                            </a>
                        </li>
                    }
                }

            </ul>
            <p>
                <a asp-action="About">IdentiyServer: About...</a>
            </p>
            
        </div>
    </div>
