body.colorscheme-dark {
    background-color:#222;
    color:#eee;
}

.colorscheme-dark  .navbar-inverse {
    border-color: #0094ff;
    background-color: #000;
}

.colorscheme-dark hr {
    border-top: 1px solid #3c3c3c;
}

.colorscheme-dark a {
    color: #4cc2ff;
}

.colorscheme-dark .navbar-fixed-top {
    border-width: 0px;
}

.colorscheme-dark ul.ui-tiles a:hover,
.colorscheme-dark a:focus {
    color: #4cc2ff;
    background-color: #3f3f3f;
}

.colorscheme-dark ul.ui-tiles li.ui-tile {
    border: 1px solid #3c3c3c;
    background-color: #333;
}

.colorscheme-dark .ui-list-item:nth-child(2n) {
    background-color: #272727;
}

.colorscheme-dark .ui-list-item:hover {
    background-color:#242424 !important;
}

.colorscheme-dark .form-control {
    border: 1px solid #3c3c3c;
    background-color: #333;
    color: #eee;
}

.colorscheme-dark .btn-default,
.colorscheme-dark .btn {
    color: #fff;
    background-color: #777;
    border-color: #3c3c3c;
}

    .colorscheme-dark .btn-default:hover,
    .colorscheme-dark .btn:hover {
        color: #4cc2ff;
    }

.colorscheme-dark .nav-pills > li > a:hover {
    background-color: #333;
}

.colorscheme-dark .nav.nav-pills.nav-stacked li.list-item {
    border-bottom: 1px solid #3c3c3c;
}

    .colorscheme-dark .nav.nav-pills.nav-stacked li.list-item.selected {
        font-weight: bold;
        background-color: #3c3c3c;
    }

.colorscheme-dark .list-group-item {
    background-color: #333;
    border: 1px solid #777;
}
