@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@model IEditClientModel

<h2>Admin IdentityServer</h2>
<div>
    <h4>Modify Client: @Model?.CurrentClient?.ClientId</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_EditClientNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>

</div>

