@page
@model IdentityServer.Areas.Admin.Pages.Resources.EditClient.DeleteClientModel
@{
    ViewData["Title"] = "Delete Client";
    ViewData["ActivePage"] = EditClientNavPages.DeleteClient;
}


<div class="row">
    <partial name="_StatusMessage" model="Model.StatusMessage" />
    <div class="col-md-6">
        
        <form id="-form" method="post">
            <h4>@ViewData["Title"]</h4>
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Input.ClientId" />
            <div class="form-group">
                <label>Type Client Id</label>
                <input asp-for="Input.ConfirmClientId" class="form-control" />
                <span asp-validation-for="Input.ConfirmClientId" class="text-danger"></span>
            </div>
            <button id="delete-client-button" type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>