@page
@using IdentityServer.Nova.Extensions.DependencyInjection;
@using Microsoft.Extensions.Options;
@using IdentityServer.Nova.Services.UI;
@inject IUserInterfaceService userInterface;
@model ForgotPasswordConfirmation
@{
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
    ViewData["Title"] = "Forgot password confirmation";
}


<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <table>
                    <tr>
                        <td>
                            <div class="panel-logo"></div>
                        </td>
                        <td>
                            <h3 class="panel-title">@userInterface.ApplicationTitle</h3>
                            <div>@ViewData["Title"]</div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-body">
                <p>
                    Please check your email to reset your password.
                </p>
            </div>
        </div>
    </div>
</div>
