@page
@using IdentityServer.Nova.Abstractions.UI
@using IdentityServer.Nova.Extensions.DependencyInjection;
@using IdentityServer.Nova.Services.UI;

@inject IUserInterfaceService userInterface;
@model ForgotPasswordModel
@{
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
    ViewData["Title"] = "Forgot your password?";
}

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <table>
                    <tr>
                        <td>
                            <div class="panel-logo"></div>
                        </td>
                        <td>
                            <h3 class="panel-title">@userInterface.ApplicationTitle</h3>
                            <div>@ViewData["Title"]</div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-body">
                <p>Enter your email.</p>
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
