@page
@using IdentityServer.Legacy.Extensions.DependencyInjection;
@using Microsoft.Extensions.Options;
@inject IOptions<UserInterfaceConfiguration> userInterfaceConfig;
@model ResetPasswordConfirmationModel
@{
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
    ViewData["Title"] = "Reset password confirmation";
}

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <table>
                        <tr>
                            <td>
                                <div class="panel-logo"></div>
                            </td>
                            <td>
                                <h3 class="panel-title">@userInterfaceConfig.Value.ApplicationTitle</h3>
                                <div>@ViewData["Title"]</div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body">
                    <p>
                        Your password has been reset. Please <a href="~/Account/Login">click here to log in</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>   