@page
@model IdentityServer.Areas.Admin.Pages.Clients.ClientsModel
@{
    ViewData["Title"] = "Clients";
    ViewData["ActivePage"] = ClientsNavPages.Clients;
}

<div class="row">
    <partial name="_StatusMessage" model="Model.StatusMessage" />
    <div class="col-md-6">
        <h4>Clients</h4>
        <ul class="nav nav-pills nav-stacked">

            @if (Model.Clients != null)
            {
                @foreach (var client in Model.Clients)
                {
                    <li class="ui-list-item">
                        <a style="padding-left:4px"
                           asp-page="./EditClient/Index"
                           asp-route-id="@client.ClientId">
                            <div class="ui-icon left sketchpen-icon-basic-bg-light-32 all-devices"></div>
                            <div><strong>@client.ClientId</strong></div>
                            <div>@client.ClientName</div>
                            @if (!String.IsNullOrWhiteSpace(client.Description))
                            {
                                <div style="color:#aaa;font-size:.85em">@client.Description</div>
                            }
                        </a>
                    </li>
                }
            }
        </ul>
    </div>
    <div class="col-md-6">
        <div class="row collapsable-tool">
            <h4>New Client</h4>
            <form id="-form" method="post">

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Input.ClientId" class="form-control" placeholder="A unique client id..." />
                    <span asp-validation-for="Input.ClientId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.ClientName" class="form-control" placeholder="Optional: Client name..." />
                    <span asp-validation-for="Input.ClientName" class="text-danger"></span>
                </div>
                <hr />
                <label>Template</label>
                <div class="form-group">
                    <select asp-for="Input.ClientType" class="form-control"
                            asp-items="Html.GetEnumSelectList<ClientsModel.ClientTemplateType>()">
                    </select>
                </div>
                <div class="form-group">
                    <input asp-for="Input.ClientUrl" class="form-control" placeholder="Optional: Client Url..." />
                    <span asp-validation-for="Input.ClientUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.ApiScopes" class="form-control" placeholder="Optional: [scope1] [scope2]..." />
                    <span asp-validation-for="Input.ApiScopes" class="text-danger"></span>
                </div>
                <button id="new-client-button" type="submit" class="btn btn-default">Create new client...</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}