@page
@model IdentityServer.Areas.Admin.Pages.Signing.IndexModel
@{
}

<div class="row">
    <div class="col-md-6">
        <h4>Sign payload</h4>
        <form id="sign-payload-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PayloadJson"></label>
                <textarea asp-for="PayloadJson" class="form-control" style="font-family: monospace" rows="16" placeholder="payload..."></textarea>
                <span asp-validation-for="PayloadJson" class="text-danger"></span>

                <label asp-for="Expires"></label>
                <input asp-for="Expires" class="form-control" />
                <span asp-validation-for="Expires" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Sign Payload...</button>
        </form>
        @if (!String.IsNullOrEmpty(Model.PayloadToken))
            {
                <pre style="white-space: normal; line-break: anywhere;">@Html.Raw(Model.PayloadToken)</pre>
            }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}