@page
@using IdentityServer.Nova
@using IdentityServer.Nova.Extensions
@using Microsoft.Extensions.Configuration  
@inject IConfiguration configuration
@model IdentityServer.Areas.Admin.IndexModel
@{
    Layout = "_Layout.cshtml";
}

<ul class="ui-tiles">
    @if (!configuration.DenyAdminUsers() && Model.HasUserDb && Model.ApplicationUser.IsUserAdministrator())
    {
        <li class="ui-tile">
            <a asp-page="./Users/Index">
                <div class="ui-tile-icon sketchpen-icon-basic-bg-light-48 account">

                </div>
                <div class="ui-tile-text ">
                    Users...
                </div>
            </a>
        </li>
    }
    @if (!configuration.DenyAdminRoles() && Model.HasRoleDb && Model.ApplicationUser.IsRoleAdministrator())
    {
        <li class="ui-tile">
            <a asp-page="./Roles/Index">
                <div class="ui-tile-icon sketchpen-icon-basic-bg-light-48 group">

                </div>
                <div class="ui-tile-text ">
                    Roles...
                </div>
            </a>
        </li>
    }
    @if (!configuration.DenyAdminResources() && Model.HasResourceDb && Model.ApplicationUser.IsResourceAdministrator())
    {
        <li class="ui-tile">
            <a asp-page="./Resources/Index">
                <div class="ui-tile-icon sketchpen-icon-basic-bg-light-48 package">

                </div>
                <div class="ui-tile-text">
                    Resources (Identities & APIs)
                </div>
            </a>
        </li>
    }
    @if (!configuration.DenyAdminClients() && Model.HasClientDb && Model.ApplicationUser.IsClientAdministrator())
    {
        <li class="ui-tile">
            <a asp-page="./Clients/Index">
                <div class="ui-tile-icon sketchpen-icon-basic-bg-light-48 all-devices">

                </div>
                <div class="ui-tile-text">
                    Clients...
                </div>
            </a>
        </li>
    }
    @if (!configuration.DenyAdminSecretsVault() && Model.HasClientDb && Model.ApplicationUser.IsSecretVaultAdministrator())
    {
        <li class="ui-tile">
            <a asp-page="./SecretsVault/Index">
                <div class="ui-tile-icon sketchpen-icon-basic-bg-light-48 lock-closed">

                </div>
                <div class="ui-tile-text">
                    Secrets Vault...
                </div>
            </a>
        </li>
    }
    @if (!configuration.DenySigningUI() && Model.HasClientDb && Model.ApplicationUser.IsSignungUIAdministrator())
    {
        <li class="ui-tile">
            <a asp-page="./Signing/Index">
                <div class="ui-tile-icon sketchpen-icon-basic-bg-light-48 code-c">

                </div>
                <div class="ui-tile-text">
                    Sign payload UI...
                </div>
            </a>
        </li>
    }
</ul>