@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@model IEditUserPageModel

<h2>Admin Users</h2>
<div class="admin-resources">
    <h4>Edit Application User: @Model?.CurrentApplicationUser?.UserName</h4>
    <hr />

    <div class="row">
        <div class="col-md-3 sidebar">
            <div style="padding:10px">


            </div>

            <partial name="_EditUserNav" model="Model" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>

</div>

@section Scripts {
    @RenderSection("scripts", required: false)
}

