@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Admin IdentityServer</h2>
<div class="admin-resources">
    <h4>Add or modify resources</h4>
    <hr />
    <div class="row">
        <div class="col-md-3 sidebar">
            <partial name="_ResourcesNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>

</div>

@section Scripts {
    @RenderSection("scripts", required: false)
}