@page
@model IdentityServer.Areas.Admin.Pages.Resources.ApisModel
@{
    ViewData["Title"] = "API Resources";
    ViewData["ActivePage"] = ResourcesNavPages.Apis;
}
@inject IdentityServer.Nova.Services.ColorSchemeService ColorScheme

<div class="row">
    <partial name="_StatusMessage" model="Model.StatusMessage" />
    <div class="col-md-6">
        <h4>Api Resources</h4>
        <ul class="nav nav-pills nav-stacked">

            @if (Model.ApiResources != null)
            {
                @foreach (var apiResource in Model.ApiResources)
                {
                    <li class="ui-list-item">
                        <a style="padding-left:4px"
                           asp-page="./EditApi/Index"
                           asp-route-id="@apiResource.Name">
                            <div class="@ColorScheme.LeftIcon("share")"></div>
                            <div><strong>@apiResource.Name</strong></div>
                            <div>@apiResource.DisplayName</div>
                        </a>
                    </li>
                }
            }
        </ul>
    </div>
    <div class="col-md-6">
        <div class="row collapsable-tool">
            <h4>New Api Resource</h4>
            <form id="-form" method="post">

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Input.ApiResourceName" class="form-control" placeholder="A unique API name..." />
                    <span asp-validation-for="Input.ApiResourceName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.ApiResourceDisplayName" class="form-control" placeholder="Optional: an API display name..." />
                    <span asp-validation-for="Input.ApiResourceDisplayName" class="text-danger"></span>
                </div>
                <button id="new-client-button" type="submit" class="btn btn-default">Create...</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}