@page
@model IdentityServer.Areas.Admin.Pages.Roles.EditRole.DeleteRoleModel
@{
    ViewData["Title"] = "Delete Role";
    ViewData["ActivePage"] = EditRoleNavPages.DeleteRole;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="delete-user-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Input.CurrentRoleId" />
            <div class="form-group">
                <label asp-for="Input.ConfirmRolename"></label>
                <input asp-for="Input.ConfirmRolename" class="form-control" />
            </div>
            <button type="submit" class="btn btn-danger">Delete Role!</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
