@page
@model IdentityServer.Areas.Admin.Pages.Resources.ClientsModel
@{
    ViewData["Title"] = "Clients";
    ViewData["ActivePage"] = "Clients";
}

    <div class="row">
        <div class="col-md-6">
            <h4>Clients</h4>
            <ul class="nav nav-pills nav-stacked">

                @if (Model.Clients != null)
                {
                    @foreach (var client in Model.Clients)
                    {
                        <li style="border-bottom:1px solid #eee">
                            <a style="padding-left:4px"
                               asp-page="./EditClient/Index"
                               asp-route-id="@client.ClientId">
                                <div><strong>@client.ClientId</strong></div>
                                <div>@client.ClientName</div>
                                @if (!String.IsNullOrWhiteSpace(client.Description))
                                {
                                    <div style="color:#aaa;font-size:.85em">@client.Description</div>
                                }
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="col-md-6">

            <form id="-form" method="post">
                <h4>New Client</h4>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Input.ClientId" class="form-control" placeholder="A unique client id..." />
                    <span asp-validation-for="Input.ClientId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.ClientName" class="form-control" placeholder="Optional: Client name..." />
                    <span asp-validation-for="Input.ClientName" class="text-danger"></span>
                </div>
                <button id="new-client-button" type="submit" class="btn btn-default">Create...</button>
            </form>
        </div>
        
    </div>