@model ManageAccountProfilePageModel

@if (Model.OptionalPropertyInfos != null)
{
    foreach (var optionalProperty in Model.OptionalPropertyInfos
                                        .PropertyInfos
                                        .Where(p => String.IsNullOrEmpty(Model.Category) || Model.Category.Equals(p.Category, StringComparison.OrdinalIgnoreCase)))
    {
    <div class="form-group">
        <label>@optionalProperty.DisplayName</label>
        <input name="Input.Options.@optionalProperty.Name"
               @(optionalProperty.Action == DbPropertyInfoAction.ReadOnly ? "readonly" : "")
               value="@Model.GetPropertyValue(optionalProperty)"
               type="@Model.GetPropertyType(optionalProperty)"
               @if(optionalProperty.PropertyType==typeof(double) ||
                    optionalProperty.PropertyType==typeof(float) ||
                    optionalProperty.PropertyType==typeof(decimal))
               {
                   <text>
                   step="0.01" 
                   </text>
               }


               class="form-control" />
        <span class="text-danger field-validation-valid" data-valmsg-for="Input.Options.@optionalProperty.Name" data-valmsg-replace="true"></span>
    </div>
    }
}

