@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@model IEditVaultSecretPageModel

<h2>Admin Secrets Vault</h2>
<div class="admin-resources">
    <h4>Edit Secret: @($"{ Model.LockerName }/{ @Model?.CurrentSecret?.Name }")</h4>
    <hr />

    <div class="row">
        <div class="col-md-3 sidebar">
            <div style="padding:10px">


            </div>

            <partial name="_EditVaultSecretNav" model="Model" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>

</div>

@section Scripts {
    @RenderSection("scripts", required: false)
}

