@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@model IEditApiResourcePageModel


<div class="admin-resources">
   
    <div class="row">
        <div class="col-md-3 sidebar">
            <div style="padding:10px">
                <h2>Admin Resources</h2>
                <h4>Modify ApiResource: @Model?.CurrentApiResource?.Name</h4>
            </div>
            
            <partial name="_EditApiResourceNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>

</div>

