label {
    font-weight:normal;
}

.navbar-brand .icon-banner {
    content: url('../icon.png');
}

.admin-resources {

}

    .admin-resources .sidebar {
        /*background-color: #f6f6f6;
        padding: 0px*/
    }

    .admin-resources form {
        /*box-shadow: 0 1px 4px rgba(0,0,0,0.20);
        padding: 8px;*/
    }

    .admin-users {

    }

        .admin-users li.app-users {
           border-bottom:1px solid #eee
        }

        .admin-users li.app-users > a {
            min-height:60px
        }

.ui-list-item {

}
.ui-list-item:nth-child(2n) {
    background-color:#fafafa;
}

.ui-list-item a:first-child {
    min-height: 50px;
}

.ui-icon {
    font-size: 26px;
    width: 40px;
    height: 40px;
    display: inline-block;
    opacity: .5;
    box-sizing: border-box;
    padding: 9px;
}

    .ui-icon.left {
        float: left;
        margin-right:10px;
    }

ul.ui-tiles {
    list-style:none;
    padding:0px;
}

    ul.ui-tiles li.ui-tile {
        display: inline-table;
        width: 320px;
        height: 60px;
        border: 1px solid #eee;
        background-color: #f8f8f8;
        border-radius: 5px;
        margin: 0px 5px 5px 0px;
        box-shadow: 0 1px 4px rgba(0,0,0,0.20)
    }
        ul.ui-tiles li.ui-tile .ui-tile-icon {
            width: 60px;
            height: 60px;
            text-align: center;
            box-sizing: border-box;
            padding: 10px;
            font-size: 40px;
            opacity: .75;
            display: inline-block;
            vertical-align: top;
        }

        ul.ui-tiles li.ui-tile .ui-tile-text {
            width: 250px;
            height: 60px;
            text-align: left;
            box-sizing: border-box;
            padding: 8px;
            font-size: 14px;
            display: inline-block;
            vertical-align: top;
        }


@media (max-width: 991px) {
    .sidebar .nav-stacked {
        border-bottom:1px solid #eee;
    }
    .sidebar .nav-stacked li {
        display: inline-block;
        /*border-bottom: 1px solid #ddd;
        float: left;*/
        background-color: #fafafa;
        vertical-align: baseline;
    }

        .sidebar .nav-stacked li a {
            padding: 10px 5px;
            border-radius: 4px 4px 0px 0px;
            min-width: 75px;
            text-align: center;
            border-top: 1px solid #eee;
            border-right: 1px solid #eee;
            border-left: 1px solid #eee;
        }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #eee;
    }

    .form-control {
        background-color: #000;
    }

        .form-control[disabled], .form-control[readonly], fieldset[disabled] {
            background-color: #333;
        }
}

.body-layout-login .panel-logo {
    display:inline-block;
    width: 50px;
    height: 50px;
    background-image: url('../icon.png');
    background-position: left center;
    background-repeat: no-repeat;
}
