label {
    font-weight:normal;
}

.admin-resources {

}

    .admin-resources .sidebar {
        /*background-color: #f6f6f6;
        padding: 0px*/
    }

    .admin-resources form {
        /*box-shadow: 0 1px 4px rgba(0,0,0,0.20);
        padding: 8px;*/
    }

    .admin-users {

    }

        .admin-users li.app-users {
           border-bottom:1px solid #eee
        }

        .admin-users li.app-users > a {
            min-height:60px
        }

.ui-list-item {

}
.ui-list-item:nth-child(2n) {
    background-color:#fafafa;
}

.ui-list-item a:first-child {
    min-height: 50px;
}

.ui-icon {
    font-size: 26px;
    width: 40px;
    height: 40px;
    display: inline-block;
    opacity: .5;
    box-sizing: border-box;
    padding: 9px;
}

    .ui-icon.left {
        float: left;
        margin-right:10px;
    }


ul.ui-tiles {
    list-style:none;
    padding:0px;
}

    ul.ui-tiles li.ui-tile {
        display: inline-table;
        width: 160px;
        height: 160px;
        border:1px solid #eee;
        background-color: #f8f8f8;
        border-radius:25px;
    }
        ul.ui-tiles li.ui-tile .ui-tile-icon {
            width: 160px;
            height: 100px;
            text-align:center;
            box-sizing:border-box;
            padding:30px;
            font-size:70px;
            opacity:.75;
        }

        ul.ui-tiles li.ui-tile .ui-tile-text {
            width: 160px;
            height: 60px;
            text-align: center;
            box-sizing: border-box;
            padding: 8px;
            font-size: 14px
        }


@media (max-width: 991px) {
    .sidebar .nav-stacked li {
        display:inline-block;
        border-bottom: 1px solid #337ab7;
        float:left;
        vertical-align:top;
    }

        .sidebar .nav-stacked li a {
            padding: 10px 5px;
            border-radius:4px 4px 0px 0px;
        }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #eee;
    }

    .form-control {
        background-color: #000;
    }

        .form-control[disabled], .form-control[readonly], fieldset[disabled] {
            background-color: #333;
        }
}

.body-layout-login .panel-logo {
    width: 50px;
    height: 50px;
    background-image: url('../icon.png');
    background-position: left center;
    background-repeat:no-repeat;
}
