@using Microsoft.AspNetCore.Identity
@using IdentityServer.Legacy

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

@if (SignInManager.IsSignedIn(User))
{
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <a asp-action="Logout" asp-controller="Account" title="Logout">Logout</a>
            </li>
        </ul>
}
else
{
<ul class="nav navbar-nav navbar-right">
    @if (Configuration["Capabilities:UserAccounts:AllowRegister"]?.ToLower() != "false")
    {
    <li>
        <a asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    }
    <li>
        <a href="/Account/Login" title="Login">Login</a>
    </li>
</ul>
}