@page
@model IdentityServer.Areas.Admin.Pages.SecretsVault.IndexModel
@{
}
@inject IdentityServer.Nova.Services.ColorSchemeService ColorScheme


    <div class="row">
        <div class="col-md-6">
            @if (Model.Lockers != null)
            {
                <ul class="nav nav-pills nav-stacked">
                    @foreach (var locker in Model.Lockers)
                    {
                        <li class="ui-list-item">
                            <a asp-page="EditLocker/Index"
                               asp-route-id="@locker.Name">
                                <div class="@ColorScheme.LeftIcon("lock-closed")"></div>
                                <strong>@locker.Name</strong>
                                <div>
                                    @locker.Description
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            }
        </div>
        <div class="col-md-6 collapsable-tool">
            <h4>Create new locker</h4>
            <form id="find-user-form" method="post" asp-page-handler="Find">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CreateLockerInput.Name"></label>
                    <input asp-for="CreateLockerInput.Name" class="form-control" placeholder="New locker..." />
                    <span asp-validation-for="CreateLockerInput.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreateLockerInput.Description"></label>
                    <input asp-for="CreateLockerInput.Description" class="form-control" placeholder="Optional: describe the locker..." />
                    <span asp-validation-for="CreateLockerInput.Description" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-default">Create a new locker</button>
            </form>
        </div>
    </div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
